<%= form_with(model: expense, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :categories, class: "form-label" %>
    <%= form.collection_check_boxes :category_ids, @categories, :id, :name %>
  </div>

  <div class="mb-3">
    <%= form.label :payment_methods, class: "form-label" %>
    <%= form.collection_check_boxes :payment_method_ids, @payment_methods, :id, :name %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
